
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "outfit", sans-serif;
}

.add {
    padding: 75px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h2 {
    margin-bottom: 75px;
    text-align: center;
    color: rgb(190, 190, 0);
}


form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-bottom: 25px;
}

label {
    margin-bottom: 10px;
    font-size: 16px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container button {
    border: none;
    background-color: rgb(190, 190, 0);
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

input {
    padding: 15px;
}
input[type="text"],
input[type="number"],
input[type="email"],
textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: rgb(190, 190, 0);
    outline: none;
}
textarea {
    padding: 15px;
    resize: vertical;
}

